.dashboard {
  display: flex;
}

.sidebar {
  flex: 1;
  background-color: var(--color-dark);
  height: 100vh;
  color: var(--color-white);
  padding: 10px;
}

.pages {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 8px;
  margin: 5px 0px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.menu:hover {
  background-color: var(--color-dark-hover);
}

.main {
  flex: 6;
  height: 100vh;
  background-color: #dad9d9;
  padding: 10px;
  overflow: scroll;
  position: relative;
}

.main::-webkit-scrollbar {
  display: none;
}

.productContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.productCard {
  background-color: var(--color-white);
  max-width: fit-content;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.productImg {
  width: 200px;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}

.productDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.productName,
.productPrice {
  font-size: 14px;
  font-weight: 600;
}

.productPrice {
  color: var(--color-primary);
}

.productStock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.stock {
  font-size: 14px;
  font-weight: 600;
}

.modal {
  position: absolute;
  top: 0;
}

@media screen and (max-width: 470px) {
  .productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .productCard {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .pro {
    padding: 10px;
  }

  .productDetails {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
  }

  .productName,
  .productPrice {
    font-size: 14px;
    font-weight: 600;
  }

  .productPrice {
    color: var(--color-primary);
  }

  .productStock {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .stock {
    font-size: 14px;
    font-weight: 600;
  }
}
